.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background-image: url('../../assets/media/background.jpg');
    background-position: center;
}

.auth-links {
    min-width: 40%;
    max-width: 50%;
    min-height: 40%;
    max-height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);

    border-radius: 10%;
}

.create-account-link,
.login-link {
    width: 75%;
    height: 7vh;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(50, 205, 50, 0.7);

    border-radius: 15px;
}

.create-account-link:hover,
.login-link:hover {
    cursor: pointer;
}

.create-account-link {
    margin-bottom: 10%;
}

.create-account-link p,
.login-link p {
    font-family: 'Antipasta';
    font-size: 3vh;
}

@media (max-width: 1000px) {
    .auth-links {
        max-width: 75%;
        width: 75%;
    }
}