.create-account-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background-image: url('../../assets/media/background.jpg');
    background-position: center;
}

.create-account-form {
    min-width: 40%;
    max-width: 50%;
    min-height: 40%;
    max-height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);

    border-radius: 10%;
}

.username, .password {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
}

.username p, .password p {
    color: #e5ebe7;
    font-family: 'Antipasta';
    font-size: 3vh;
    margin-right: 5%;
}

.username-field, .password-field {
    height: 4vh;
    margin: 3.5% 0%;
    border: none;
    background: #36454F;
    width: 50%;
    border-radius: 5px;
}

.username-field:focus, .password-field:focus {
    outline: none;
}

.create-account-button {
    font-family: 'Antipasta';
    color: white;
    background: rgba(50, 205, 50, 0.3);
    width: 56%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 2.5vh;
}

.create-account-button:hover {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .create-account-form {
        width: 75%;
        max-width: 80%;
    }
}