.home-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(12, 19, 23, 0.95);
}

.home-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 10%;
    background: rgba(33, 44, 51, 0.9);
    margin-top: 1.5%;
}

.home-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    color: rgba(210, 224, 232, 0.96);
    font-family: 'Lato';
}

.log-out-button {
    display: flex;
    align-items: center;
    margin-right: 2%;
    font-size: 2.5vh;
    color: rgba(210, 224, 232, 0.96);
    font-family: 'Lato';
}

.log-out-button:hover {
    cursor: pointer;
    color: red;
}

.home-content {
    height: 85%;
    width: 80%;

    display: flex;
    flex-direction: row;
}

.user-inbox {
    background: rgba(17, 27, 33, 0.8);
    height: 100%;
    width: 20vw;
    min-width: 20vw;

    flex-grow: 0.25;
}

.conversation-list {
    height: 85%;
    overflow-y: auto;
}

.search-conversation {
    margin: 2% 1%;
    border: none;
    width: 60%;
    height: 3vh;
    background: rgba(33, 44, 45, 0.75);
    color: white;
    border-radius: 5px;
}

.search-conversation:focus {
    outline: none;
}

.conversation {
    border-bottom: 1px solid white;
    overflow: hidden;
} 

.conversation:hover {
    cursor: pointer;
    background: rgba(42, 57, 66);
}

#recipient {
    font-family: 'Lato';
    color: rgba(210, 224, 232, 0.96);
    font-size: 1.9vh;
    margin-left: 1%;
}

#message {
    font-family: 'Lato';
    color: gray;
    margin-left: 1%;
    font-size: 1.5vh;
}

.create-conversation-window-open {
    background: #259A25;
    width: 10%;
    height: 3.5vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-family: 'Lato';
    margin-left: 1%;
    margin-bottom: 5%;
}

.create-conversation-window-open:hover {
    cursor: pointer;
    color: white;
}

.create-conversation-form-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.create-conversation-form {
    position: fixed;
    background:#36454F;
    color: white;
    width: 30%;
    height: 19vh;
    border-radius: 10px;
}

.close-create-conversation-form {
    float: right;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    border-radius: 10px;
}

.close-create-conversation-form:hover {
    background: rgba(221, 5, 37, 0.7);
    cursor: pointer;
}

.create-conversation-form h3 {
    font-family: 'Lato';
    margin: 7% 0 1% 3%;
}

.search-user {
    margin: 0 0 4% 3%;
    width: 70%;
    height: 3.5vh;
    border-radius: 6px;
    border: none;
    outline: none;
    background: rgba(33, 44, 45, 0.75);
    color: white;
    font-family: 'Lato';
}

.create-conversation-button {
    background: #259A25;
    width: 35%;
    height: 3.5vh;
    margin: 0 0 1% 3%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Lato';
}

.create-conversation-button:hover {
    cursor: pointer;
    color: white;
}

.message-box {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    min-width: 61vw;
    max-width: 61vw;
    max-height: 100vh;
}

.message-list {
    flex-grow: 1;
    margin: 2% 2%;
    overflow-y: scroll;
}

.other-recipient-message-box {
    background: rgba(33, 44, 51, 0.9);
    border-radius: 7.5px;
    width: fit-content;
    min-width: 20%;
    overflow-wrap: break-word;
    max-width: 30vw;
}

.other-recipient-username, .user-recipient-username {
    font-family: 'Lato';
    color: gray;
    padding-top: 3%;
    padding-left: 3%;
}

.other-recipient-message, .user-recipient-message {
    font-family: 'Lato';
    color: white;
    padding-left: 3%;
    padding-bottom: 3%;
    font-size: 1.7vh;
}

.user-recipient-message-box {
    margin-left: auto;
    background: rgba(0, 92, 75, 0.9);
    border-radius: 7.5px;
    width: fit-content;
    min-width: 20%;
    overflow-wrap: break-word;
    max-width: 30vw;
}

.enter-message-box {
    display: flex;
    justify-content: space-between;
    margin: 1% 6%;
}

.enter-message-field {
    background: rgba(33, 44, 51, 0.9);
    min-height: 3vh;
    min-width: 90%;
    overflow-wrap: break-word;
    text-wrap: wrap;
    max-width: 30vw;

    border: none;
    outline: none;

    color: white;
    font-family: 'Lato';
}


.send-message-button {
    background-image: url(../../assets/media/send-message-arrow.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
}

.send-message-button:hover {
    cursor: pointer;
}

.conversation-header h3 {
    color: white;
    font-family: 'Lato';
    margin-left: 2%;
}

@media(max-width: 1000px) {
    .search-conversation {
        width: 90%;
        height: 4vh;
        margin: 3% 5%;
    }

    .home-header, .home-content {
        width: 100%;
    }
    
    .create-conversation-window-open {
        width: 15%;
        height: 5vh;
        margin-left: 5%;
        margin-bottom: 1%;
    }

    .create-conversation-form {
        width: 80%;
    }

    .create-conversation-button {
        width: 50%;
    }
}