.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background-image: url('../../assets/media/background.jpg');
    background-position: center;
}

.login-form {
    min-width: 40%;
    max-width: 50%;
    min-height: 40%;
    max-height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);

    border-radius: 10%;
}

.login-button {
    font-family: 'Antipasta';
    color: white;
    background: rgba(50, 205, 50, 0.3);
    width: 56%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 2.5vh;
}

.login-button:hover {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .login-form {
        max-width: 80%;
        width: 75%;
    }
}